<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
    <style>
        td {
            width: 100px;
        }
        form {
            margin-top: -80px;
        }
    </style>
</head>
<body>
<h1>Edit user</h1>
<form action="#" th:method="PATCH" th:action="@{/edit}" th:object="${user}">
    <table>
        <tr>
            <td>
                <label for="id">UserId</label>
                <input readonly type="number" th:field="*{id}" id="id" placeholder="UserId">
            </td>
        </tr>

        <tr>
            <td>
                <label for="name">Enter name</label>
                <input type="text" th:field="*{name}" id="name" required/>
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</div>
            </td>
        </tr>
        <br>

        <tr>
            <td>
                <label for="lastName">Enter name</label>
                <input type="text" th:field="*{lastName}" id="lastName" required/>
                <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">name error</div>
            </td>
        </tr>
        <br>

        <tr>
            <td>
                <label for="age">Enter age</label>
                <input type="text" th:field="*{age}" id="age">
                <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age error</div>
            </td>
        </tr>
        <br>

        <tr>
            <td>
                <label for="email">Enter email</label>
                <input type="text" th:field="*{email}" id="email">
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">age error</div>
            </td>
        </tr>
        <br>

        <tr>
            <td>
                <input type="submit" value="Edit user"/>
            </td>
        </tr>

    </table>
</form>
</body>
</html>